@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */
/* #hero{
  height: 615px;
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
} */
 *{
  margin: 0;
  padding: 0;
 }
 #hero {
  height: 797px;
  background-size: cover;
  background-position: center;
  background-image:linear-gradient(0.00deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%) , url('../assets/hero-bg.png');
  display: flex;
  justify-content: center;
  align-items: center;

 }
 #hero .hero-content{
  width: 685px;
  
}
.btn{
  padding: 10px 15px 10px 15px;
  color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 10px;
font-weight: 600;
line-height: 14px;
letter-spacing: 0%;
text-align: center;
border-radius: 4px;
border: none;
background: rgb(82, 195, 3);
cursor: pointer;

}
.btn-container{
  text-align: center;
}
#hero .hero-content .subtitle{
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
opacity: 0.8;
margin-bottom: 8px;
}
#hero .title{
  color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 50px;
font-weight: 700;
line-height: 50px;
letter-spacing: 0%;
text-align: center;
margin: 12px;
}
#hero .description{
  color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin: 16px;
font-family: Work Sans;

}
#card-box{
  width: 784px;
  margin: 100px auto;
}
#card-box .info{
  margin: ;
}
#card-box .title{
  color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 25px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
}
#card-box .subtitle{
  color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6;
}
.card-container{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 20px;

}
.card{
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.image-box img{
  width: 250px;
}
.card .image-box{
  width: 100%;
}
.card .shop{
  text-align: center;
}
.card .shop{
  background-color: red;
  padding: 7px 17px 7px 17px;
  border-radius: 8px;

background: rgba(82, 195, 3, 0.15);
}
